.watch {
  border: 1px solid black;
  margin-right: 10px;
  width: 150px;
  position: relative;
}

.watch-name {
  font-weight: normal;
  margin: 0;
}

.watch-btn {
  border: 1px solid black;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: block;
  margin: 0;
  padding: 0;
  background-color: #fff;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.watch-face {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  margin: 5px auto;
  border-radius: 50%;
  position: relative;
}

.watch-hand {
  /* border-top: 10px solid black; */
  /* border-bottom: 10px solid transparent; */
  width: 0;
  height: 0;
  top: 50px;
  left: 50px;
  position: absolute;
  transform: rotate(45deg);
}

.watch-hand-line {
  width: 0;
  border-left: 2px solid black;
  left: -1px;
  position: absolute;
  bottom: 0px;
}

.watch-hand-line-seconds {
  height: 50px;
  border-left: 2px dashed black;
}

.watch-hand-line-minuts {
  height: 45px;
}

.watch-hand-line-hours {
  height: 30px;
}

.watch-hand-arrow {
  position: absolute;
  left: -6px;
  top: -15px;
  width: 0;
  height: 0;
  /* background-color: red; */
  border: 5px solid transparent;
  border-width: 10px 5px;
  border-bottom: 10px solid black;
}