.add-watch-form {
  display: flex;
}

.form-column {
  width: 200px;
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  /* align-items: flex-end; */
  justify-content: end;
}

.form-control {
  line-height: 14px;
  padding: 5px 10px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 0;
  font-size: 14px;
  font-weight: normal;
}

.form-btn {
  width: 150px;
  padding: 6px;
}

.form-btn:hover {
  background-color: #f0f0f0;
}